<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  </head>
<body>

<!DOCTYPE html>
<html ng-app="gfg">

<head>
	<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<script data-require="angular.js@1.5.x"
			src=
"https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular.min.js"
			data-semver="1.5.11">
	</script>
	
	<script>
		var app = angular.module('gfg', []);

		app.controller('MainCtrl', function($scope) {
			$scope.models = [{}];
			$scope.countries = ['India', 'Japan', 'US'];
			$scope.states = {
				India: ['UP', 'MP', 'Bihar'],
				Japan: ['Tokyo', 'Yokohama'],
				US: ['California', 'Texas'],
				name: ['textfield']
			}
			$scope.addRow = function() {
				$scope.models.push({});
			}
			$scope.getState = function(country) {
				return $scope.states[country];
			}
		});
	</script>
</head>
  <div class="form-group">
      <label for="usr">Name:</label>
      <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>

<body ng-controller="MainCtrl">
	<center>
		<h1 style="color: red;">
			mahesh reddy
		</h1>

		<table>
			<tr>
				<th>Country</th>
				<th>State</th>
				<th>Action</th>
			</tr>
			
			<tr ng-repeat="model in models">
				<td>
					<select ng-options=
					"country as country for country in countries"
							ng-model="model.country"
							ng-change='getState(model.country)'>
					</select>
				</td>
				<td>
					<select ng-options=
			"state as state for state in getState(model.country)"
							ng-model="model.state">
					</select>
				</td>
				<td>
					<button ng-click="addRow()">Add Row</button>
				</td>
			</tr>
		</table>
		<h3 style="color:green">Selections</h3>
		<p ng-repeat="model in models">
			{{model.country}} - {{model.state}}
		</p>
	</center>
</body>

</html>
